#portfolio {
    background: #2b343d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
        color: #F9F1E9;
    }
}

#portfolio-showcase {
    display: flex;
    flex-direction: column;
    color: #F9F1E9;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}

.portfolio-box {
    display: flex;
    background: #2b343d;
    height: 50%;
    width: 100%;
}

.portfolio-box-reverse {
    display:flex;
    flex-direction: row-reverse;
    background: #273039;
    height: 50%;
    width: 100%;
}

.portfolio-image {
    width: 40%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

.portfolio-info {
    width: 60%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;

    h3 {
        padding: 0px 5vw;
        padding-top: 10vh;
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
        padding: 0px 5vw;
        text-align:left;
    }

    .portfolio-links{
        padding: 5vh 5vw;
        font-size: 1.25rem;
        display: flex;
        justify-content: space-between;
        width: 20vw;

        a {
            text-decoration: none;
            color:#F9F1E9;
        }

        a:hover .portfolio-icon {
            color: #F9F1E9
        }

        .portfolio-icon {
            font-size: 1.5rem;
            vertical-align: bottom;
            padding-right: 0.5em;
            color:#f9f1e965;
        }
    }
}
