#portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
        color: #F9F1E9;
    }
}

#portfolio-showcase {
    display: flex;
    color: #F9F1E9;
    width: 80%;
    justify-content: space-between;
    margin-top: 10vh;

}

.portfolio-box {
    height: 300px;
    width: 300px;
    border: 1px solid white;
}
