#portfolio {
    background: #2b343d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
        color: #F9F1E9;
    }
}

#portfolio-showcase {
    display: flex;
    flex-direction: column;
    color: #F9F1E9;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}

.portfolio-box {
    background: #2b343d;
    height: 100%;
    width: 100%;
}

.portfolio-box-reverse {
    display:flex;
    flex-direction: row-reverse;
    background: #273039;
    height: 100%;
    width: 100%;
}
