#about {
    background:#21b2a6;
    height: 100vh;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }
    p {
        margin: 10px 100px;
        font-size: 17px;
        text-align: justify;
    }
}

#tech {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-column {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 50px;
}

.tech-icon {
    font-size: 100px;
    color: #F9F1E9;
}
