#header-container-sticky {
    position: sticky;
    top:0;
    background-color: #111;
    height: 50px;
    display: flex;
    align-items: center;
    color: #F9F1E9;
    font-size: 2rem;
    z-index: 1;
}

.name-tag {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.link-category {
    font-size: 1.2rem;
}

.link-category {
    margin-left: 2rem;
    cursor: pointer;
    color: #FFFFFF;
    opacity:0;
}


#home-wrapper {
    scroll-snap-type: y proximity;
    scroll-padding-top: 50px;
    h2 {
        font-size: 1.75em;
        margin-top: 3.125rem;
        color: #FFFFFF;
        letter-spacing: 0.225em;
        overflow: hidden;
    }

    h2:after {
        content: "";
        display: flex;
        vertical-align: bottom;
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        border-top: 0.15rem solid #191b1d41;
    }

    p {
        color: #c8ece9;
        letter-spacing: 0.075em;
    }

    canvas {
        position: fixed;
        top: 0;
        height: 100vh;
        pointer-events: none;
    }

}

#home-wrapper > #about, #portfolio, #contact {
    /* scroll-snap-align: start; */
    scroll-snap-stop: always;
    scroll-margin-top: 50px;
}

footer {
    /* position: relative; */
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2f3841;
    /* z-index: 33; */

}

#spacer {
    width: 33%
}

#footer-links {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F9F1E9;
    letter-spacing: 0.075em;
    margin-bottom: 70px;
    font-size: 1.25rem;
}

.professional-links {
    margin-top: 30px;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: space-around;

    a {
        text-decoration: none;
        color:#f9f1e965;
    }

    a:hover {
        color: #F9F1E9;
    }

}

#footer-closing-tag {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin-top: 20px;

    .link-category {
        margin-right: 2rem;
    }
}
