#header-container-sticky {
    position: sticky;
    top:0;
    background-color: #111;
    height: 50px;
    display: flex;
    align-items: center;
    color: #F9F1E9;
    font-size: 2rem;
    z-index: 1;
}

.name-tag {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.link-category {
    font-size: 1.2rem;
}

.link-category {
    margin-left: 2rem;
    cursor: pointer;
    color: #FFFFFF;
    opacity:0;
}

#home-wrapper {
    h2 {
        font-size: 1.35em;
        margin-top: 120px;
        color: #FFFFFF;
        letter-spacing: 0.225em;
        overflow: hidden;
    }

    h2:after {
        content: "";
        display: flex;
        vertical-align: bottom;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        border-top: 0.1px solid #191b1d41;
    }

    p {
        color: #c8ece9;
        letter-spacing: 0.075em;
    }

    canvas {
        position: fixed;
        top: 0;
        height: 100vh;
        pointer-events: none;
    }
}

footer {
    /* position: relative; */
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #2f3841;
    /* z-index: 33; */

}

#footer-closing-tag {
    margin-right: 2rem;
    margin-top: 20px;
}
