#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    label {
        color: #F9F1E9;
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    input {
        margin: 10px 0;
        height: 40px;
        width: 47%;
        background-color: #F9F1E9;
        font-size: large;
        border: 1px;
    }

    textarea {
        margin: 10px;
        height: 200px;
        resize: none;
        background-color: #F9F1E9;
        font-size: large;
        width: 98.8%;
    }

    button {
        margin: 10px;
        border-radius: 5px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        color: #F9F1E9;
        border:#F9F1E9 3px solid;
        font-size: large;
        width: 15rem;
    }

    button:hover {
        color: #F3613D;
        border:#F3613D 3px solid;
    }
}

input, button:focus{
    outline: none;
}

#contact-id {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
